'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Linter eslint-redux'
        submenu: [
          { label: 'Reload', command: 'linter-eslint-redux:reload' }
          { label: 'Lint Project', command: 'linter-eslint-redux:lint-project' }
        ]
      }
    ]
  }
]
